.popup-content {
    margin: 0 auto;
    background: rgb(255, 255, 255);
    width: 400px;
    border-radius: 50%;
    text-align: center;
    border: 15px;
    padding: 70px;
    border-style: solid;
    border-color: #9A4444;
}

.popup-arrow {
    color: rgb(255, 255, 255);
}

[role='tooltip'].popup-content {
    width: 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].popup-overlay {
    background: transparent;
}
